*{
    margin: 0;
    padding: 0;
    font-family:'Bodoni Moda', serif;
    
}

/*   HEADER   */

header{
    background-color: pink;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }

    li{
        list-style-type: none;
    }

.bloque-uno__logo{
width: 210px;
height: 210px;
}

.bloque-uno__titulo{
    font-family: 'Bodoni Moda', serif;
    font-size: 100px;
    color: white;
}

.header__nav ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    text-align: center;
    flex-direction: column;
    border: 4px solid #F40076 ;
    border-radius: 20px;
    display: flex;
    text-decoration: none;
}

.header__nav a{
    font-size: 25px;
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    text-decoration: none;
}

.navbar-toggler-icon{
    filter: invert(87%) sepia(20%) saturate(2279%) hue-rotate(247deg) brightness(96%) contrast(82%);
}

.navbar-toggler{
    color: white;
}
.bg-body-tertiary{
    background-color:  pink !important ;
}
button.navbar-toggler{
    border-radius: 100px;
    border-color: white;
}

a.nav-link{
    color: white;

}


/*    MAIN INDEX  */

.home{
    background-image: radial-gradient(circle, #E18AD4, #EEB1D5, #EFC7E5);
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#carouselExampleSlidesOnly{
    display: flex;
    justify-content: center;

}

.carousel-item{
    width: 100%;
    height: 100%;
    padding: 50px 0px;
}
.bloque-uno h2{
    font-family: 'Bodoni Moda', serif;
    font-size: 70px;
    color: white;
}

.bloque-uno{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bloque-dos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bloque-dos img{
    width: 400px;
    height: 400px;
    margin-bottom: 10px;
    border-radius: 100px;
}


/*   MAIN SERVICIOS  */

.main-servicios{
    background-image: radial-gradient(circle, #E18AD4, #EEB1D5, #EFC7E5);
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#tituloServicios{
    display: flex;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    color: white;
    font-family: 'Bodoni Moda', serif;
}

.main-servicios p{
    padding: 20px;
    width: 100%;
    text-align:center;
    font-size: 30px;
    font-family:'Bodoni Moda', serif;
    color: white;
    font-weight: bold;

}
.img-y-parrafo{
    display: flex;
    justify-content: center;
}


.main-servicios img{
    border-radius:100px;
    padding: 20px;
    width: 370px;
    height: 400px;
}

.main-servicios img:hover{
    transform: translateY(-6px);
}



/*   MAIN TURNOS   */

.main-turnos{
    background-image: radial-gradient(circle, #E18AD4, #EEB1D5, #EFC7E5);
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    min-height: auto;
}

#tituloTurnos{
    text-align: center;
    font-size: 50px;
    padding: 20px;
    color: white;
    font-family: 'Bodoni Moda', serif;
    display: inline;
    font-weight: bold;
}

.columnasTurnos{
    padding: 20px;
    }

.pregunta{
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    justify-content: center;
    color: white;
    font-family: 'Bodoni Moda', serif;

}

.form-control{
    text-align:center;
    font-size: 15px;
    padding: 6px 12px;
    color:#F40076 !important;
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
    border: 4px solid #efc7e5;
    border-radius: 10px ;
    margin: 20px;
    width: 100%;
}

#botonEnviar{
    text-align: center;
    font-size: 20px;
    padding: 20px 60px;
    color: #F40076;
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
    border: 4px solid #efc7e5;
    border-radius: 10px;
    margin: 20px;

}

.opcDesplegables{
    text-align:justify;
    font-size: 15px;
    padding: 6px 12px;
    color:#F40076;
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
    border: 4px solid #efc7e5;
    border-radius: 10px ;
    margin: 20px;
    width: 100%;
}

#radioBut{
    text-align: center;
    font-size: 15px;   
    justify-content: center;
    color: #F40076;
    font-family: 'Bodoni Moda', serif;
}





/*     MAIN SOBRE NOSOTRAS     */

.mainSobreNosotras{
    background-image: radial-gradient(circle, #E18AD4, #EEB1D5, #EFC7E5);
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.tituloSN{
    text-align: center;
    font-size: 50px;
    padding: 20px;
    color: white;
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
}

.parrafoSN{
    padding: 20px;
    width: 1000px;
    text-align:center;
    font-size: 30px;
    font-family:'Bodoni Moda', serif;
    color: white;
    font-weight: bold;

}

.imagenSN{
    border-radius:100px;
    padding: 20px;
    width: 425px;
    height: 400px;
}



/*   MAIN CONTACTO   */

.main-contacto{
    background-image: radial-gradient(circle, #E18AD4, #EEB1D5, #EFC7E5);
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100vh;
    }
    
#tituloContacto{
    text-align: center;
    font-size: 50px;
    padding: 20px;
    color: white;
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
    }
    
    input{
    text-align: center;
    font-size: 15px;
    padding: 20px 60px;
    color:#F40076;
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
    border: 4px solid #efc7e5;
    border-radius: 10px ;
    margin: 20px;
    }
    .columnas{
        padding: 20px;
    }

    textarea{
    font-size: 15px;
    padding: 20px;
    color:#F40076;
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
    border: 4px solid #efc7e5;
    border-radius: 10px ;
    margin: 50px 20px 20px 20px;
    width: 600px;
    height: 400px;
    }
        
#boton{
    display: inline;
    justify-content: center;
    background-color:yellow;
    color: red;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding: 12px 10px;
    border: 4px solid #efc7e5;
    border-radius: 10px;
    }





/*    FOOTER    */

footer{
    background-color: pink; ;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:auto;
}

footer h5{
    color: #F40076; 
}

.bloque{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
}

.redes-sociales{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
}

.texto-redes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 15px 10px 15px; 
    color: white;
}

.redes-sociales__logoWsp{
    width: 20px;
    height: 20px;
}

.redes-sociales__logoIg{
    width: 20px;
    height: 20px;
}

.redes-sociales__logoFb{
    width: 20px;
    height: 20px;
}

.horarios-atencion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    color: white;
}

.mapa-direccion{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
    color: white;
}

.mapa-direccion iframe{
    width: 150px;
    height: 60px;
}

/*  ¡¡¡¡¡¡  MEDIA QUERY MOBILE PARA MIS SECCIONES   !!!!!! */

@media (max-width: 576px){

/*   MEDIAQUERIES HEADER    */
header{
    padding: 0%;
    }

.bg-body-tertiary{
    --bs-bg-opacity: 0;
    }

.bloque-uno__logo{
    width: 100px;
    height: 100px;
    }
        
.bloque-uno h2{
    padding: 0%;
    font-size: 30px;
    }

/*      MEDIAQUERIES INDEX          */

.home{
    min-height: auto;
}

/*     MEDIAQUERIES PAGINA SERVICIOS     */

#tituloServicios{
    font-size: 20px !important;
    }

.main-servicios img{
    padding: 0%;
    width: 320px !important;
    height: 300px !important;
    }

.main-servicios p{
    padding: 10%;
    font-size: 15px !important;
    }

/*    MEDIAQUERIES PAGINA TURNOS      */

#tituloTurnos{
    font-size: 20px;
    padding: none;
}

.columnasTurnos{
    width: 350px;
    padding: 10px;
    }

.pregunta{
    font-size: 15px;
}

    .form-control{
    margin: 10px;
}

#botonEnviar{
    font-size: 15px;
    width: 150px;
    height: 50px;
    padding: 10px !important;
}

.opcDesplegables{
    margin: 10px;
}

#radioBut input{
    width: 50px;
}



/*    MEDIAQUERIES PAGINA SOBRE NOSOTRAS     */

.tituloSN{
    font-size: 20px !important;
    padding: none;
}

.parrafoSN{
    padding: 10px;
    width: auto;
    font-size: 16px;
}

.imagenSN{
    border-radius: 50px;
    width: 340px !important;
    height: 320px !important;
}






/*    MEDIAQUERIES PAGINA CONTACTO    */

#tituloContacto{
    font-size: 20px;
    }

#boton{
    text-align: center;
    font-size: 15px;
    padding: 5px;
    border: 4px solid #efc7e5;
    border-radius: 10px;
    height: auto;
    width: 150px;
    }

input{
    padding: 20px 40px !important;
    margin: 0%;
    width: 250px ;
    height: 30px ;
    }

div.columnas{
    padding: 10px;
    }

textarea{
    padding: 0px;
    width: 250px ;
    height: 300px ;
    }

/*      MEDIAQUERIES FOOTER      */
footer{
    flex-direction: column;
    }

}





