
.main-contacto{
    background-image: map-get($fondos, fondo-primario);
    display: flex !important;
    justify-content: center !important;
    flex-direction: column;
    min-height: 100vh;

    .main-contacto .columnas textarea{
        display: flex;
    }
    div.columnas{
        display: flex;
        justify-content: center;
    }
    .columnas{
        padding: 20px;
        
        #tituloContacto{
            text-align: center;       
            padding: 20px;
            color: $color-secundario;
        }
        
        .main-contacto .columnas input{
            display: flex;
        }
        
        input{
            justify-content: center;
            text-align: center;
            padding: 20px 60px;
            color:$color-primario;
            border: 4px solid $color-terciario;
            border-radius: 10px ;
            margin: 20px;
        }
        textarea{
            display: flex;
            justify-content: center;
            padding: 20px;
            color:$color-primario;
            border: 4px solid #efc7e5;
            border-radius: 10px ;
            margin: $margin * 5 $margin * 2 $margin * 2 $margin * 2;
            @include tamaños(600px,400px);
        }
        
        #boton{
            display: flex;
            text-align: center;
            padding: 20px 60px;
            color: $color-primario;
            border: 4px solid $color-terciario;
            border-radius: 10px;
            margin: $margin * 2;
        }
}

@media (max-width: 576px){	

    #tituloContacto{
        font-size: 20px;
    }

    #boton{
        text-align: center;
        font-size: 15px;
        padding: 5px;
        border: 4px solid #efc7e5;
        border-radius: 10px;
        @include tamaños(150px,auto);
    }

    input{
        padding: 20px 40px !important;
        margin: 0%;
        @include tamaños(250px,30px);
    }

    div.columnas{
        padding: 10px;
    }

    textarea{
        padding: 0px;
        @include tamaños(250px,300px);
    }
}
}
