.home{
    background-image: map-get($fondos, fondo-primario);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

	#carouselExampleSlidesOnly{
        display: flex;
        justify-content: center;
	}

	.carousel-item{
        width: 100%;
        height: 100%;
        padding: 50px 0px;
	}

	img{
        width: auto;
        height: auto;
        margin-bottom: 10px;
        border-radius: 100px;
	}

	@media (max-width: 576px){
    .home{
        min-height: auto;
    }
	}	
}