.home{
    background-image: map-get($fondos, fondo-primario);
    display: flex;
    flex-direction: column;
    
    
    .CARU{
        display: flex;
        justify-content: center;
        
        #carouselExampleSlidesOnly{
        display: flex;
        justify-content: center;
	}

	.carousel-item{
        @include tamaños(auto,auto);
        padding: 50px 0px;
	}

	img{
        @include tamaños(500px,500px);
        margin-bottom: $margin;
        border-radius: 100px;
	}

	@media (max-width: 576px){
    .home{
        min-height: auto !important;
    }
    }
	
	}	
}