.home{
    background-image: map-get($fondos, fondo-primario);
    display: flex;
    flex-direction: column;


	#carouselExampleSlidesOnly{
        display: flex;
        justify-content: center;
	}

	.carousel-item{
        @include tamaños(100%,100%);
        padding: 50px 0px;
        display: flex;
	}

	img{
        @include tamaños(500px,500px);
        margin-bottom: $margin;
        border-radius: 100px;
        justify-content: center;
	}

	@media (max-width: 576px){
    .home{
        min-height: auto !important;
    }
	}	
}