.main-servicios{
        background-image: map-get($fondos, fondo-primario);
        display: flex;
        flex-direction: column;

        div{
        display: flex;
        align-items: center;
        
                #tituloServicios{
                display: flex;
                text-align: center;
                padding: 20px;
                color: $color-secundario;
                }

                p{
                padding: 20px;
                width: 100%;
                color: $color-secundario;
                }

                img{
                border-radius:100px;
                padding: 20px;
                @include tamaños(380px,400px);
                        &:hover{
                                transform: translateY(-6px);
                        }
                }
        }

	@media (max-width: 576px){
	
                #tituloServicios{
                        font-size: 20px !important;
                }

                .main-servicios img{
                        padding: 0%;
                        @include tamaños(200px !important, 300px !important);
                }

                p{
                        padding: 10%;
                        font-size: 15px !important;
                        text-align: center;
                }
	}
}