.mainSobreNosotras{
    background-image: map-get($fondos, fondo-primario);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    min-height: auto;

    .tituloSN{
        text-align: center;
        padding: 20px;
        color: $color-secundario;
    }

    p{
        padding: 20px;
        width: auto;
        text-align:center;
        font-size: 30px;
        color: $color-secundario;
    }

    img{
        border-radius:100px;
        padding: none;
        @include tamaños(400px, 300px);
    }


@media (max-width: 576px){
    .tituloSN{
        font-size: 20px !important;
        padding: none;
    }
    p{
        padding: 10px;
        width: auto;
        font-size: 16px;
    }
    img{
        border-radius: 50px;
        justify-content: center;
        @include tamaños(320px!important,320px!important);
    }
}

}