.mainSobreNosotras{
    background-image: $fondo-primario;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    min-height: auto;

    .tituloSN{
        text-align: center;
        font-size: 50px;
        padding: 20px;
        color: $color-secundario;
        font-weight: bold;
    }

    p{
    padding: 20px;
    width: auto;
    text-align:center;
    font-size: 30px;
    color: $color-secundario;
}

    img{
    border-radius:100px;
    padding: none;
    width: 400px;
    height: 300px;
}


@media (max-width: 576px){
	
    .tituloSN{
        font-size: 20px !important;
        padding: none;
    }

    p{
        padding: 10px;
        width: auto;
        font-size: 16px;
    }

    img{
        border-radius: 50px;
        justify-content: center;
        width: 320px !important;
        height: 320px !important;
    }
}
}