.main-turnos{
background-image: $fondo-primario;
padding: 0px 20px;
display: flex;
flex-direction: row;
min-height: auto;
		
	.columnasTurnos{
        padding: 20px;
        align-items: center;
        display: flex;
	
	#tituloTurnos{
        text-align: center;
        padding: 20px;
        color: white;
        display: inline; 
        }

	h4{
        text-align: justify;
        padding: 10px;
        justify-content: center;
        color: $color-secundario;
	}

        .form-control{
        text-align:center;
        font-size: 15px;
        padding: 6px 12px;
        color:#F40076 !important;
        border: 4px solid #efc7e5;
        border-radius: 10px ;
        margin: 20px;
        width: 100%;
		}	

	#botonEnviar{
        text-align: center;
        padding: 20px 60px;
        color: $color-primario;
        border: 4px solid #efc7e5;
        border-radius: 10px;
        margin: 20px;
		}

	.opcDesplegables{
        text-align:justify;
        font-size: 15px;
        padding: 6px 12px;
        color:#F40076;
        font-family: 'Bodoni Moda', serif;
        font-weight: bold;
        border: 4px solid #efc7e5;
        border-radius: 10px ;
        margin: 20px;
        width: 100%;
	}

	#radioBut{
        text-align: center;
        font-size: 15px;   
        justify-content: center;
        color: #F40076;
        font-family: 'Bodoni Moda', serif;
	}

}

@media (max-width: 576px){
        #tituloTurnos{
        font-size: 20px;
        padding: none;
	}
	
	.columnasTurnos{
        width: 350px;
        padding: 10px;
        }

	.pregunta{
        font-size: 15px;
	}

        .form-control{
        margin: 10px;
	}

	#botonEnviar{
        font-size: 15px;
        width: 150px;
        height: 50px;
        padding: 10px !important;
	}

	.opcDesplegables{
        margin: 10px;
	}

	#radioBut input{
        width: 50px;
	}
}
}