footer{
    background-color: map-get($fondos, fondo-secundario); 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:auto;
    flex-direction: column;

	h5{
        color: $color-primario; 
	}

    .redes-sociales{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        color: $color-secundario;
    }

    .texto-redes{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: $margin * 2 $margin + 5px $margin $margin + 5px;
        color: $color-secundario;
            img{
                @include tamaños(20px,20px);
            }  
            a:-webkit-any-link {color: $color-secundario !important;}
	}
    

    .horarios-atencion{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
        color: $color-secundario ;
    }

    .mapa-direccion{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items:center;
        color: $color-secundario; 
            iframe{
                @include tamaños(150px,60px);
            }
    }
		
    @media (max-width: 576px){
		footer{
        flex-direction: column;
        }
	}

}