
header{
    background-color: $fondo-secundario;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

	.bloque-uno{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

            .bloque-uno__logo{
                width: 200px;
                height: 200px;
            }
	}

    .navbar{
        background-color:  $fondo-secundario !important ;

		.bg-body-tertiary{
            background-color:  $fondo-secundario !important ;
		}
		
		.navbar-toggler-icon{
            filter: invert(87%) sepia(20%) saturate(2279%) hue-rotate(247deg) brightness(96%) contrast(82%);
		}
		.navbar-toggler{   
            color: pink;
		}
		button{
            border: none;
            }

        ul{
            list-style-type: none;
            margin: 0;
            padding:0;
            text-align: center;
            flex-direction: column;
            border-radius: 20px;
            display: flex;
            text-decoration: none;
            
            li{
                list-style-type: none;
                    font-weight: bold;
                    color: $color-secundario;
                    text-decoration: none;
                    padding: 0px 10px;
                    text-decoration: none;
                a.nav-link{
                    font-size: 25px;
                }
            }
        }
    }

@media (max-width: 576px){
    header{
        padding: 0%;
    }

    .bg-body-tertiary{
        --bs-bg-opacity: 0;
    }

    a{
        font-size: 20px !important;
    }

    .bloque-uno__logo{
        width: 100px !important;
        height: 100px !important;
    }
    
    
    .bloque-uno h2{
        padding: 0%;
        font-size: 30px;
    }
}
}

